@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Gudea-Bold.ttf);
}
@font-face {
  font-family: 'Gudea-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Gudea-Regular.ttf);
}
#fb-root {
  display: none;
}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  width: 100% !important;
  background: #fff;
}
.span {
  margin-left: 0;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.input-no-shadow {
  border: 0 !important;
  outline: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.text-indent {
  text-indent: -999999px;
}
.both {
  clear: both;
}
.color-light {
  color: #7f8f11;
}
a {
  color: #2e3406;
}
.slide-last-news {
  height: 250px;
  position: relative;
  float: left;
  width: 100%;
}
.slide-last-news .item {
  background: url(../img/bg-content-slide-last-news.png) #ffffff;
}
.slide-last-news .item .thumb {
  height: 250px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.slide-last-news .item .content .title,
.slide-last-news .item .content .title a {
  color: #7f8f11;
	font-family: 'Gudea';
	font-weight: 200;
	letter-spacing: -0.6px;
	line-height: 30px;
}
.slide-last-news .item .content .time {
  color: #fff;
  background: #000;
  display: inline;
}
.slide-last-news .item .content .excerpt {
  color: #333;
  font-family: 'Gudea-Regular';
}
.slide-last-news .item .content .share {
	margin-top: 15px;
	margin-bottom: 8px;
}
.slide-last-news .slide-last-news-content {
	float: left;
	width: 100%;
	height: 240px;
	clear: both;
	position: relative;
	overflow: hidden;
}
.slide-last-news .sliderArrows a {
  display: block;
  text-indent: -9999px;
  outline: none;
  z-index: 50;
  background-image: url(../img/gfx/prev_next.png);
  width: 42px;
  height: 42px;
  position: absolute;
  top: 50%;
  margin-top: -34px;
}
.slide-last-news .prev {
  background-position: 0 0;
  left: 15px;
}
.slide-last-news .prev:hover {
  background-position: 0 -44px;
}
.slide-last-news .next {
  right: 15px;
  background-position: -44px 0;
}
.slide-last-news .next:hover {
  background-position: -44px -44px;
}
.slide-last-news .slide-last-news-content .item {
  position: absolute;
  height: 350px;
}
.slide-last-news .sliderBullets {
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 50;
  margin-left: -45px;
}
.slide-last-news .sliderBullets a {
  display: block;
  text-indent: -9999px;
  outline: none;
  margin: 10px 5px;
  width: 10px;
  height: 11px;
  background: url(../img/gfx/bullets.png) no-repeat;
}
.slide-last-news .sliderBullets .active {
  background-position: 0 -11px;
}
.slide-last-news .slide-last-news-content a {
  outline: none;
}
.slide-last-news a {
  color: #999999;
}
.slide-last-news a img {
  border: none;
}
.widget-home {
  margin-top: 5px;
}
header #menu-top {
  background: #2e3406;
  padding: 10px 0;
}
header #menu-top ul {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header #menu-top ul.right {
  float: right;
  text-align: right;
}
header #menu-top li {
  display: inline-block;
  color: #fff;
  /*float: left;*/
  margin: 0 10px;
}
header #menu-top li a {
  color: #fff;
}
header #menu-top li img {
  vertical-align: middle;
}
header #menu-top li.sep {
  border-left: 1px solid #fff;
  height: 20px;
  margin-top: 0px;
  position: relative;
}
header #menu-top li.txt {
  margin-top: 7px;
}
header #menu-top li.left {
  float: left;
}
header .bg-header {
  background: url(../img/capa_site_congresso.jpeg) no-repeat 20% 0;
}
header .bg-header section {
  width: 70%;
  height: 277px;
  background: url(../img/bg-header-section2.png) no-repeat 15%;
  float:left;
}
header .logo {
	text-indent: -99999px;
	font-size: 0px;
	background: /*none*/ url(../img/logo-header.png);
	background: none;
	width: 251px;
	height: 222px;
	display: block;
	margin: 0px 0px 0px 5%;/*margin-left: 120px;*/
}
header .nav-menu {
	background: #2e3406;
	border-top: solid 4px #fff;
}
header .nav-menu .search {
  background: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 10px;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
}
header .nav-menu .search form {
  margin: 0;
}
header .nav-menu .search input[type=text] {
	width: 75%;
	border: 0 !important;
	outline: 0;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border: 0;
	background: transparent;
	margin: 0;
	height: 16px !important;
}
header .nav-menu .search input[type=submit] {
  background: url(../img/bt-search.png);
  border: 0;
  text-indent: -999999px;
  width: 21px;
  height: 18px;
}
header .sf-menu li {
  position: relative;
  display: inline-block;
}
header .sf-menu ul.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
}
header .sf-menu li:hover > ul,
header .sf-menu li.sfHover > ul {
  display: block;
}
header .sf-menu a {
  display: block;
  position: relative;
}
header .sf-menu ul ul {
  margin-left: 100px;
  margin-top: -30px !important;
  text-align: left;
}
header ._nav {
  margin: 0px auto 0 auto;
  display: inline-block;
}
header ._nav ul {
  margin: 0;
}
header ._nav li a {
	color: #fff;
	text-transform: uppercase;
	line-height: 20px;
	font-family: Gudea;
	font-weight: 400;
}
header ._nav li:hover {
  background: #7f8f11;
  margin-top: -20px;
}
header ._nav li.social a,
header ._nav li.social a:hover {
  text-indent: -999999px;
  padding: 0;
  display: block;
  background-image: url(../img/ico-social-menu.png);
  background-repeat: no-repeat;
}
header ._nav li.social:hover {
  background: transparent;
  margin-top: 0;
}
header ._nav li.twitter a,
header ._nav li.twitter a:hover {
  text-indent: -999999px;
  background-position: 0 0;
  width: 21px;
  height: 24px;
}
header ._nav li.facebook a,
header ._nav li.facebook a:hover {
  background-position: -55px 0px;
  width: 18px;
  height: 24px;
}
header ._nav li.flickr a,
header ._nav li.flickr a:hover {
  background-position: -100px 0px;
  width: 26px;
  height: 24px;
}
header ._nav .current_page_item a,
header ._nav .current-menu-item a {
  background: #7f8f11;
  margin-top: -20px;
}
header ._nav .sub-menu {
  margin-top: 7px;
  padding: 0px 5px;
  width: 600px;
  text-align: left;
}
header ._nav .sub-menu > li {
  text-align: left;
  border: 0;
  display: inline-block;
  padding: 0 10px 0 10px;
}
header ._nav .sub-menu > li > a {
  text-align: left;
  padding: 5px 0 5px 10px;
  text-transform: none;
  color: #333;
  text-transform: uppercase;
}
.single-page .content-post {
  color: #333;
}
.single-page .content-post .title {
  color: #2e3406;
  font-size: 20px;
  font-weight: 600;
}
.single-page .content-post #author-category {
  text-align: right;
}
.single-page .content-post #tags {
  background: url(../img/bg-title-pages.png) left no-repeat;
  text-align: right;
  padding: 3px 0;
}
.template-filie-se .title-inside {
  height: 110px;
  background: url(../img/bg-title-inside.png) #8fa30d;
  position: relative;
  float: left;
  width: 100%;
  margin: 10px 0;
}
.template-filie-se .title-inside .title-pages {
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0px 0 50px;
  display: block;
  position: relative;
  letter-spacing: 2px;
}
.template-filie-se #children-page {
  background: #8FA30D;
  margin-top: 10px;
  float: left;
  width: 100%;
  padding: 0px 0 0px 120px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.template-filie-se #children-page li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
  padding: 10px;
}
.template-filie-se #children-page li.active {
	background: url(../img/filie-se/children-active2.png);
}
.template-filie-se #children-page li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.template-filie-se .title-pages {
  margin: 20px 0 20px 10px;
  float: left;
  width: 100%;
}
.template-filie-se .content-post {
  width: 80%;
  margin: 0 auto;
}
.template-filie-se #formularios .success {
  color: #fff;
  background: #8FA30D;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px;
  display: none;
}
.template-filie-se #formularios .success h1,
.template-filie-se #formularios .success h2,
.template-filie-se #formularios .success h3,
.template-filie-se #formularios .success h4,
.template-filie-se #formularios .success h5 {
  margin: 0;
}
.template-filie-se #formularios .abas ul {
  background: url(../img/filie-se/bg-abas.png) no-repeat center left;
  padding-left: 35px;
}
.template-filie-se #formularios .abas ul li {
  display: inline-block;
  list-style: none;
  position: relative;
}
.template-filie-se #formularios .abas ul li .number {
  background: url(../img/filie-se/circle-aba.png);
  width: 52px;
  height: 52px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 15px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
}
.template-filie-se #formularios .abas ul li .title {
  display: inline-block;
  text-transform: uppercase;
}
.template-filie-se #formularios .abas ul li#sucesso {
  width: 200px;
}
.template-filie-se #formularios .abas ul li#sucesso .tick {
  background: url(../img/filie-se/circle-tick.png);
  width: 36px;
  height: 36px;
  position: absolute;
  right: 0px;
  top: 8px;
  z-index: 3;
}
.template-filie-se #formularios .abas ul li#sucesso .title {
  padding-right: 60px;
}
.template-filie-se #formularios .abas ul li#sucesso.active .tick {
  background: url(../img/filie-se/circle-tick-active.png);
}
.template-filie-se #formularios .abas ul li.active .number {
  background: url(../img/filie-se/circle-aba-active.png);
  z-index: 2;
  position: relative;
}
.template-filie-se #formularios .abas ul li.active .title {
  color: #fff;
  padding: 2px 5px 0 15px;
  margin-left: -13px;
  z-index: 1;
  position: relative;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#8ea10e), to(#586211));
  background: -webkit-linear-gradient(#8ea10e, #586211);
  background: -moz-linear-gradient(#8ea10e, #586211);
  background: -ms-linear-gradient(#8ea10e, #586211);
  background: -o-linear-gradient(#8ea10e, #586211);
  background: linear-gradient(#8ea10e, #586211);
}
.template-filie-se #formularios .gsection {
  border: 0;
}
.template-filie-se #formularios .gsection_title {
  color: #556011;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  border: 0;
}
.template-filie-se #formularios .success-content {
  display: none;
}
.template-filie-se #formularios .success-content .quadros {
  background: #f6f6f6;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
}
.template-filie-se #formularios .success-content .quadros h2 {
  font-size: 20px;
}
.template-filie-se #formularios .success-content .link {
  background: url(../img/filie-se/bg-abas.png) no-repeat center left;
  height: 35px;
  width: 100%;
  background-size: 100%;
  text-align: right;
  margin-top: 20px;
}
.template-filie-se #formularios .success-content .link a {
  background: url(../img/filie-se/bg-next-prev.png);
  width: 102px;
  height: 35px;
  display: block;
  color: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 8px;
  float: right;
  margin-right: 20px;
}
.template-filie-se #formularios .gform_confirmation_wrapper {
  display: none;
}
.template-filie-se #formularios .gf_progressbar_wrapper {
  display: none;
}
.template-filie-se #formularios .gform_body {
  background: #f6f6f6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
}
.template-filie-se #formularios .gform_body label {
  display: inline-block;
  width: 200px;
  text-align: right;
}
.template-filie-se #formularios .gform_body .ginput_container {
  display: inline-block;
  margin-left: 30px;
}
.template-filie-se #formularios .gform_body .ginput_container input[type=text] {
  width: 400px;
}
.template-filie-se #formularios .gform_body .gfield_radio li {
  display: inline-block;
  margin-right: 20px;
}
.template-filie-se #formularios .gform_body .gfield_radio li label {
  width: auto;
}
.template-filie-se #formularios .gform_body .width-auto label {
  width: 100%;
  text-align: left;
}
.template-filie-se #formularios .gform_body .gfield_checkbox {
  margin: 20px 0 !important;
}
.template-filie-se #formularios .gform_body .gfield_checkbox li {
  display: inline-block;
  width: 200px;
}
.template-filie-se #formularios .gform_body .gfield_checkbox label {
  width: auto;
}
.template-filie-se #formularios .gform_body .gform_next_button,
.template-filie-se #formularios .gform_body .gform_previous_button,
.template-filie-se #formularios .gform_body .gform_button {
  border: 0;
  background: url(../img/filie-se/bg-next-prev.png);
  width: 102px;
  height: 35px;
  color: #fff;
}
.template-filie-se #formularios .gform_body .gform_page_footer {
  text-align: right;
}
.template-filie-se #formularios .gchoice_19_13 label {
  display: inline;
}
.template-carteira-nacional .abas ul {
  background-size: 100% !important;
}
.template-carteira-nacional #login-facebook {
  background: #f6f6f6;
  height: auto;
  min-height: 100%;
  overflow: hidden;
  padding: 20px;
}
.template-carteira-nacional #login-facebook h2 {
  float: left;
  color: #4F70AB;
  font-weight: 800;
  font-size: 18px;
  margin-left: 20px;
}
.template-carteira-nacional #login-facebook a {
  float: right;
  margin-top: 10px;
}
.template-carteira-nacional .login {
  background: #f6f6f6;
  margin-top: 10px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  height: 270px;
}
.template-carteira-nacional .login h3 {
  color: #556011;
  text-transform: uppercase;
  font-size: 18px;
  float: left;
  width: 100%;
  text-align: left;
}
.template-carteira-nacional .login .field label {
  display: inline-block;
  width: 70px;
}
.template-carteira-nacional .login input[type=submit] {
  border: 0;
  background: url(../img/filie-se/bg-next-prev.png);
  width: 102px;
  height: 35px;
  color: #fff;
}
.template-carteira-nacional .login a {
  color: #333;
  text-decoration: italic;
}
.template-carteira-nacional .cadastro {
  background: #f6f6f6;
  margin-top: 10px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  height: 270px;
}
.template-carteira-nacional .cadastro h3 {
  color: #556011;
  text-transform: uppercase;
  font-size: 18px;
  float: left;
  width: 100%;
  text-align: left;
}
.template-carteira-nacional .cadastro .texto {
  width: 70%;
  margin-left: 15%;
  text-align: left;
}
.template-carteira-nacional .cadastro a.cadastrar {
  background: url(../img/filie-se/bg-bt-cadastrar.png);
  width: 102px;
  height: 35px;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 8px;
  float: right;
  margin-right: 30px;
}
.template-carteira-nacional .content-success {
  background: #f6f6f6;
  color: #333;
}
.template-carteira-nacional .content-success .dados {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 150px;
}
.template-carteira-nacional .content-success .dados label {
  display: inline-block;
  width: 80px;
  color: #666;
  margin-right: 20px;
}
.template-carteira-nacional .content-success .dados .value {
  display: inline-block;
}
.template-contribua .content-formularios {
  background: #f6f6f6;
}
.template-contribua .content-success {
  padding-left: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.template-contribua .content-success h3 {
  margin-left: 60px;
  color: #333;
}
.template-contribua .content-success label {
  display: inline-block;
  width: 70px;
  color: #999;
}
.template-contribua .content-success span {
  color: #333;
}
.template-timeline .title-pages {
  margin-left: 10px;
}
.template-timeline .title-inside {
	background: url(../img/sobre/bg-title-inside.png) !important;
	background-size: 100%;
	height: 88px;
	position: relative;
	float: left;
	width: 100%;
	margin: 10px 0;
}
.template-timeline .title-inside .title-pages {
  color: #fff;
  text-transform: capitalize !important;
  font-size: 40px;
  margin: 30px 0px 0 50px;
  display: block;
  position: relative;
  letter-spacing: 2px;
}
.template-timeline #children-page {
	background: #CD5208;
	margin-top: 10px;
	float: left;
	width: 100%;
	padding: 0px 0 0px 120px;
	margin: 0 0 10px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.template-timeline #children-page li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
  padding: 9px;
}
.template-timeline #children-page li.active {
  background: url(../img/sobre/children-active.png);
}
.template-timeline #children-page li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.template-timeline .orderby {
  float: right;
  margin-right: 20px;
}
.template-timeline .timeline {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
  float: left;
  width: 100%;
}
.template-timeline .timeline > .thumb {
  height: 400px;
  overflow: hidden;
  width: 100%;
}
.template-timeline .timeline > .thumb img {
  width: 100%;
}
.template-timeline .timeline .anos ul {
  background: url(../img/sobre/faixa-progresso.png) center center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 10px 0 0 0;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.template-timeline .timeline .anos ul li {
  display: inline-block;
  list-style: none;
  line-height: 20px;
  padding: 2px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 87px;
  text-align: Center;
  cursor: pointer;
}
.template-timeline .timeline .anos ul li.active {
  background: url(../img/sobre/bg-ano-active.png);
  width: 87px;
  height: 41px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: Center;
  color: #fff;
  padding-top: 12px;
}
.template-timeline .timeline .anos ul li .content {
  display: none;
}
.template-timeline .timeline .anos .content-active {
  margin: 15px auto 0 auto;
  width: 95%;
}
.template-timeline.template-estatuto .content {
  width: 90%;
  margin: 0 auto;
}
.template-timeline.template-nosestados h3 {
  color: #333;
}
.template-timeline.template-nosestados a {
  color: #2E3406;
}
.template-direcao .loop-direcao {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.template-direcao .loop-direcao .item {
  margin-top: 10px;
  margin-bottom: 10px;
}
.template-direcao .loop-direcao .item .thumb {
  height: 170px;
  background-size: 100% !important;
}
.template-direcao .loop-direcao .item .name-cargo {
  background: url(../img/sobre/bg-name-cargo.png);
  background-size: 100%;
  height: 51px;
  padding: 10px;
  color: #fff;
}
.template-direcao .loop-direcao .item .name-cargo p {
  margin: 0;
  font-size: 16px;
}
.template-direcao .loop-direcao .item .name-cargo .name {
  font-weight: bold;
}
.template-direcao .loop-direcao .item .dados {
  background: url(../img/sobre/bg-dados-direcao.png);
  background-size: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.template-direcao .loop-direcao .item .dados ul {
  margin: 0;
  padding: 0;
}
.template-direcao .loop-direcao .item .dados ul li {
  list-style: none;
  margin-top: 0px;
  font-size: 11px;
}
.template-direcao .loop-direcao .item .dados ul li a {
  color: #666;
}
.template-direcao .loop-direcao .item .dados ul li .ico {
  background: url(../img/sobre/icones-dados-direcao.png);
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.template-direcao .loop-direcao .item .dados ul li .ico#twitter {
  background-position: 0px -15px;
  height: 13px;
}
.template-direcao .loop-direcao .item .dados ul li .ico#face {
  background-position: 0px -32px;
  height: 12px;
}
.template-direcao .loop-direcao .item .dados ul li .ico#website {
  background-position: 0px -48px;
  height: 13px;
}
.template-direcao .loop-direcao .item .dados ul li .ico#telefone {
  background-position: 0px -66px;
  height: 10px;
}
.template-direcao .sidebar .title-widget {
	font-family: Gudea;
	color: #333;
	font-size: 26px;
	text-transform: lowercase;
}
.template-direcao .sidebar .list-categoria-direcao {
  background: url(../img/bg-content-colunistas.png);
  padding: 10px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
}
.template-direcao .sidebar .list-categoria-direcao ul {
  margin: 0;
  padding: 0;
}
.template-direcao .sidebar .list-categoria-direcao li {
  list-style-position: inside;
  list-style-type: none;
  margin: 5px;
}
.template-direcao .sidebar .list-categoria-direcao li a {
  color: #333;
}
.template-direcao .sidebar .list-categoria-direcao li a span {
  font-family: Gudea;
}
.template-direcao .sidebar .list-categoria-direcao li a:before {
  content: '» ';
  font-family: Gudea;
}
.template-manifesto .title-inside {
  background: url(../img/bg-title-manifesto.png) !important;
  background-size: 100%;
  height: 88px;
  position: relative;
  float: left;
  width: 100%;
  margin: 10px 0;
}
.template-manifesto .title-inside .title-pages {
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0px 0 50px;
  display: block;
  position: relative;
  letter-spacing: 2px;
}
.template-manifesto .content {
  width: 90%;
  margin: 0 auto;
}
.template-manifesto .content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.template-downloads .title-inside {
  background: url(../img/bg-title-downloads.png);
  background-size: 100%;
  height: 88px;
  position: relative;
  float: left;
  width: 100%;
  margin: 10px 0;
}
.template-downloads .title-inside .title-pages {
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0px 0 50px;
  display: block;
  position: relative;
  letter-spacing: 2px;
}
.template-downloads #orderby {
  margin-left: 20px;
}
.template-downloads .content {
  width: 90%;
  margin: 0 auto;
}
.template-downloads .content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.template-downloads .content .format-download {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10px;
  text-align: center;
}
.template-downloads .content .format-download .format {
  display: inline-block;
}
.template-downloads .content .format-download .format a {
  color: #333;
  font-weight: bold;
}
.template-downloads .content .format-download .download {
  background: url(../img/bt-download-item.png);
  width: 148px;
  height: 33px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle;
  margin-left: 10px;
}
.template-downloads .loop-downloads .row-fluid {
  margin-top: 10px;
  margin-bottom: 10px;
}
.template-downloads .loop-downloads .item .thumb {
  height: 120px;
  background-size: 100%;
  overflow: hidden;
}
.template-downloads .loop-downloads .item .title {
  font-family: Gudea;
  font-size: 16px;
  line-height: 18px;
}
.template-downloads .loop-downloads .item .the-content {
  background: url(../img/sobre/bg-dados-direcao.png);
  background-size: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.template-downloads .loop-downloads .item .the-content a {
  color: #333;
}
.template-downloads .loop-downloads .item .the-content a:hover {
  color: #333;
}
.template-downloads .loop-downloads .item .format-download {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10px;
}
.template-downloads .loop-downloads .item .format-download .format {
  display: inline-block;
}
.template-downloads .loop-downloads .item .format-download .format a {
  color: #333;
  font-weight: bold;
}
.template-downloads .loop-downloads .item .format-download .download {
  background: url(../img/bt-download-item.png);
  width: 148px;
  height: 33px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle;
  margin-left: 10px;
}
.template-downloads .sidebar .title-widget {
  font-family: Gudea;
  color: #333;
  font-size: 26px;
}
.template-downloads .sidebar .list-categoria-direcao {
  background: url(../img/bg-content-colunistas.png);
  padding: 10px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
}
.template-downloads .sidebar .list-categoria-direcao ul {
  margin: 0;
  padding: 0;
}
.template-downloads .sidebar .list-categoria-direcao li {
  list-style-position: inside;
  list-style-type: none;
  margin: 5px;
}
.template-downloads .sidebar .list-categoria-direcao li a {
  color: #333;
}
.template-downloads .sidebar .list-categoria-direcao li a span {
  font-family: Gudea;
}
.template-downloads .sidebar .list-categoria-direcao li a:before {
  content: '» ';
  font-family: Gudea;
}
.template-downloads .sidebar .widget_wp-customtype-archive ul {
  background: url(../img/bg-content-colunistas.png);
  padding: 10px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
}
.template-downloads .sidebar .widget_wp-customtype-archive ul li {
  list-style-position: inside;
  list-style-type: none;
  margin: 5px;
}
.template-downloads .sidebar .widget_wp-customtype-archive ul li a {
  color: #333;
}
.template-downloads .sidebar .widget_wp-customtype-archive ul li a span {
  font-family: Gudea;
}
.template-downloads .sidebar .widget_wp-customtype-archive ul li a:before {
  content: '» ';
  font-family: Gudea;
}
.template-noticias .title-inside {
  background: url(../img/bg-title-noticias.png);
  background-size: 100%;
  height: 88px;
  position: relative;
  float: left;
  width: 100%;
  margin: 10px 0;
}
.template-noticias .title-inside .title-pages {
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0px 0 50px;
  display: block;
  position: relative;
  letter-spacing: 2px;
}
.template-noticias #ppp {
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
}
.template-noticias #ppp select {
  width: 80px;
}
.template-noticias .no-margin-left {
  margin-left: 0;
}
.template-noticias #seja-um-colunista {
  background: url(../img/bg-content-colunistas.png);
  margin: 20px 0;
  padding: 5px;
  height: auto;
  min-height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.template-noticias #seja-um-colunista img {
  vertical-align: middle;
  margin: 10px 0 0 30px;
}
.template-noticias #seja-um-colunista #txt {
  float: right;
  display: block;
  margin-right: 20px;
}
.template-noticias .loop-top-posts .item,
.template-noticias .loop-noticias .item {
  margin: 10px 0;
}
.template-noticias .loop-top-posts .item time,
.template-noticias .loop-noticias .item time {
  color: #fff;
  background: #000;
  margin: 0;
}
.template-noticias .loop-top-posts .item .title,
.template-noticias .loop-noticias .item .title {
  line-height: 20px;
  font-size: 18px;
  margin: 20px 0;
}
.template-noticias .loop-top-posts .item .title a,
.template-noticias .loop-noticias .item .title a {
  font-size: 18px;
  color: #7f8f11;
}
.template-noticias .content-post .title {
  color: #7f8f11;
  font-weight: bold;
}
.template-noticias #flickr {
  background: url(../img/ico-flickr.png) no-repeat;
  padding-top: 20px;
}
.template-noticias #youtube {
  background: url(../img/ico-youtube.png) no-repeat;
  padding-top: 30px;
  text-align: left;
}
.template-noticias .the-colunista {
  background: url(../img/bg-content-colunistas.png);
}
.template-noticias .the-colunista .thumb {
	height: 115px;
	margin: 0;
	background-size: 100% !important;
}
.template-noticias .the-colunista .name {
  background: url(../img/bg-title-noticias.png);
  font-size: 18px;
  font-family: Gudea;
  color: #fff;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
.template-noticias .the-colunista .name a {
  color: #fff;
}
.template-noticias .the-colunista .excerpt {
  background: url(../img/bg-content-colunistas.png) #ffffff;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 25px;
  color: #333;
}
.template-noticias .share {
  float: right;
}
.single-noticias .time {
  background: url(../img/bg-date-single-noticias.png);
  width: 59px;
  height: 88px;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 22px;
  text-align: center;
}
.single-noticias .time p {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}
.single-noticias .time #day {
  font-size: 18px;
}
.single-noticias #confirme-presenca {
  text-align: center;
  margin: 15px 0;
}
.template-contato .title-inside {
  background: url(../img/bg-title-contato.png) !important;
  background-size: 100%;
  height: 88px;
  position: relative;
  float: left;
  width: 100%;
  margin: 10px 0;
}
.template-contato .title-inside .title-pages {
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0px 0 50px;
  display: block;
  position: relative;
  letter-spacing: 2px;
}
.template-contato .content-post {
  width: 80%;
  margin: 0 auto;
}
.template-contato .content-post .formulario {
  background: url(../img/bg-content-colunistas.png);
  padding: 20px 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin: 10px 0;
}
.template-contato .content-post .formulario label {
  display: inline-block;
  width: 130px;
  text-align: right;
  margin-right: 20px;
}
.template-contato .content-post .formulario .ginput_container {
  display: inline-block;
}
.template-contato .content-post .formulario .ginput_container input[type=text] {
  width: 268px;
}
.template-contato .content-post .formulario .gform_next_button,
.template-contato .content-post .formulario .gform_previous_button,
.template-contato .content-post .formulario .gform_button {
  border: 0;
  background: url(../img/filie-se/bg-bt-cadastrar.png);
  width: 102px;
  height: 35px;
  color: #fff;
  float: right;
}
.template-contato .content-post #sepreferir {
  width: 20%;
  text-align: center;
  font-family: Gudea;
  font-size: 22px;
  font-weight: bold;
  color: #000;
  background: url(../img/bg-content-colunistas.png);
  height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 40px;
  float: left;
}
.template-contato .content-post #fale-com-nucleo {
  width: 80%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  height: 100px;
  background: #f6f6f6;
  float: left;
  margin: 0;
}
.template-mapa .title-inside,
.page-id-168 .title-inside,
.page-id-166 .title-inside {
  background: url(../img/bg-title-mapa.png) !important;
  background-size: 100%;
  height: 88px;
  position: relative;
  float: left;
  width: 100%;
  margin: 10px 0;
}
.template-mapa .title-inside .title-pages,
.page-id-168 .title-inside .title-pages,
.page-id-166 .title-inside .title-pages {
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0px 0 50px;
  display: block;
  position: relative;
  letter-spacing: 2px;
}
.template-mapa .content {
  width: 80%;
  margin: 20px auto;
}
.template-mapa .content .page_item {
  list-style: none;
  margin: 5px 0;
}
.template-mapa .content .page_item a {
  font-family: Gudea;
  font-size: 20px;
  color: #000;
}
.template-mapa .content .page_item .children li a {
  font-size: 16px;
}
.template-mapa .content .page_item .children li a:before {
  content: '» ';
}
body {
  background: #C1C2C3;
}

/* Fla Abril#14  */


/*Sociais
--------------*/

header #menu-top ul#menu-sociais {
    -moz-box-sizing: border-box;
    float: left;
	width: 35%;
}

header #menu-top ul#menu-sociais li a,
header #menu-top ul#menu-sociais li a:hover {
  text-indent: -999999px;
  padding: 0;
  display: block;
  background-image: url(../img/social-ujs.png);
  background-repeat: no-repeat;
}

header #menu-top ul#menu-sociais li a:hover {
opacity:0.6;
filter:alpha(opacity=60); /* For IE8 and earlier */
}
header #menu-top ul#menu-sociais  li.social:hover {
  background: transparent;
  margin-top: 0;
}
header #menu-top ul#menu-sociais  li.twitter a,
header #menu-top ul#menu-sociais  li.twitter a:hover {
  text-indent: -999999px;
  background-position: -40px 0;
  width: 29px;
  height: 29px;
}
header #menu-top ul#menu-sociais  li.facebook a,
header #menu-top ul#menu-sociais  li.facebook a:hover {
  background-position: 0 0;
  width: 29px;
  height: 29px;
}
header #menu-top ul#menu-sociais  li.youtube a,
header #menu-top ul#menu-sociais  li.youtube a:hover {
  background-position: -80px 0;
  width: 29px;
  height: 29px;
}
header #menu-top ul#menu-sociais li.flickr a,
header #menu-top ul#menu-sociais li.flickr a:hover {
  background-position: -120px 0px;
  width: 29px;
  height: 29px;
}

header #menu-top ul#logo2 {width: 100%; margin: 0 auto; text-align:center;}

.contenedor-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.contenedor-video iframe,
.contenedor-video object,
.contenedor-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.filiese2 {float:right; width: 30%; min-width: 20px; min-height: 20px;}
form#form_index {width: 237px;}
.filiese2 .box2 {max-width: 236px; float:right; margin: 15px 0;}
.filiese2 .box2 input#txEmail, .filiese2 .box2 input#txNome {width: 166px; margin-left: 30px; margin-right: 20px; color: #5a6411; padding-left: 15px; font-family: 'Gudea';}
.filiese2 .box2 input#btEnviar {margin-left: 92px; background: url(../img/retangulo-2.png) no-repeat right center;
	color: #fff;
	padding: 5px 0 5px 20px;
	font-size: 14px; font-weight: normal;
    margin: 0; text-transform:uppercase;
	font-family: 'Gudea'; width: 166px;
	}

.filiese2 h2 {
	text-align: left;
	background: url(../img/retangulo.png) no-repeat right center;
	color: #fff;
	padding: 5px 0 5px 40px;
	font-size: 18px; font-weight: normal;
    margin: 0; text-transform:uppercase;
	font-family: 'Gudea';
}

header #menu-top ul.right li.0001 {
		margin:0 25px 0 25px !important;
	}


/** Flavia 10/07 **/

.loop-home-news .item.estados {
    background: #000;
    height: 390px;
    margin-top: 20px;
    position: relative;
}

.loop-home-news .item.estados .content .excerpt {
    color: #fff;
    font-family: 'Gudea-Regular';
    padding-bottom: 15px;
}

.loop-home-news .item.estados .thumb h3 {
   color: #fff;
   text-align:right;
   font-size: 18px;
   margin: 0;
   padding: 0 10px;
   line-height: 24px;
  background: url(../img/tit-estados.png) right no-repeat;
  height: 24px;
  font-weight: 400;
}


/* El iframe se adapta al tamaño del contenedor */

@media (max-width: 1200px) {
header #menu-top ul {
	margin: 0;
	padding: 0;
	width: 35%;
}
header #menu-top ul.right {
	width: 65%;
}
header #menu-top ul li.txt {
	font-size: 12px;
}
._nav li a {
	padding: 15px 10px;
	margin: 0;
}
._nav li.social a {
	margin-left: 5px;
	margin-right: 5px;
}
}
@media (min-width: 1201px) {
  header #menu-top ul {
    margin: 0;
    padding: 0;
    width: 40%;
  }
  header #menu-top ul.right {
    width: 55%;
  }
  ._nav li a {
    padding: 12px 10px;
    margin: 0 20px;
  }
}

@media (max-width: 1024px) {
.contenedor object#FlashID {
	height: 230px !important;

}
}
@media (max-width: 980px) {
  header #menu-top ul {
    width: 100%;
  }
  header #menu-top ul.right {
    width: 60%;
    margin-top: 20px;
  }
  header #menu-top ul#menu-sociais { margin: 10px 0;}
  .nav-menu .search {
    float: left;
    margin-bottom: 20px;
  }
  header .bg-header section {
  width: 70%;
  height: 240px;
  background: url(../img/bg-header-section3.png) no-repeat 5% bottom;
  float:left;
}
.contenedor object#FlashID {
	height: 180px !important;

}

}
@media (min-width: 981px) {
  .nav-menu .search {
    float: right;
  }
}
.slider .nivo-controlNav {
  display: none;
}
aside > .container {
  color: #666;
  background: #fff;
}
aside .content-padding {
  width: 100%;
  padding: 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
aside .title-pages {
  font-family: Gudea;
  color: #333;
}
aside .title-pages span {
	background: #fff;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: 200;
	font-size: 26px;
	text-transform: lowercase;
}
aside .title-pages .bg {
  background: url(../img/bg-title-pages.png) left;
  background: url(../img/textura-tit.png) left;
  height: 24px;
  display: inline-block;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
aside .title-pages a {
	float: right;
	margin: 0px 10px 0 0;
	font-size: 14px;
	font-weight: 400;
	color: #333;
}
.loop-home-news .item {
	background: url(../img/bg-content-slide-last-news.png) #ffffff;
	position: relative;
	margin-top: 20px;
	height: 390px;
}
.loop-home-news .item .thumb {
  height: 150px;
  background-size: 120%;
}
.loop-home-news .item .content {
  padding: 10px;
}
.loop-home-news .item .content .title {
  line-height: 20px;
  font-family: Gudea;
  height: 60px;
  overflow: hidden;
  font-size: 20px;
}
.loop-home-news .item .content .title a {
	color: #7f8f11;
	font-size: 18px;
	font-family: 'Gudea-Regular';
	font-weight: 600;
	line-height: 10px;
}
.loop-home-news .item .content .time {
  color: #fff;
  background: #000;
  display: inline;
}
.loop-home-news .item .content .excerpt {
	color: #333;
	padding-bottom: 15px;
	font-family: 'Gudea-Regular';
}
.loop-home-news .item .comment-count {
  background: url(../img/bg-comment-count.png) no-repeat;
  width: 39px;
  height: 33px;
  text-align: center;
  color: #fff;
  padding-top: 3px;
  position: absolute;
  bottom: -20px;
  right: 30px;
}
.loop-home-colunistas .item .thumb {
	height: 90px;
	background-size: 100%;
	margin: 0;
}
.loop-home-colunistas .item .content .title2 {
	background: url(../img/bg-title-noticias.png);
	font-size: 18px;
	font-family: Gudea;
	color: #fff;
	padding-left: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	line-height: 30px;
}
.loop-home-colunistas .item .content .title2 a {
	color: #fff;
	font-family: 'Gudea';
	font-weight: 200;
	line-height: 30px;
}
.loop-home-colunistas .item .content {
  margin: 0;
}
.loop-home-colunistas .item .content .title {
  background: url(../img/bg-title-colunista.png) #7f8f11;
  font-size: 18px;
  font-family: Gudea;
  color: #fff;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
.loop-home-colunistas .item .content .title a {
	color: #fff;
	font-family: 'Gudea';
	font-weight: 200;
	line-height: 30px;
}
.loop-home-colunistas .item .content .excerpt {
  background: url(../img/bg-content-colunistas.png) #ffffff;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Gudea-Regular';
  color: #333;
}
.loop-home-top-acess .item .content .title a {
	font-family: 'Gudea-Regular';
	line-height: 5px;
	color: #7f8f11;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: -0.3px;
}
.loop-home-top-acess .item .content .time {
  color: #fff;
  background: #000;
  display: inline;
}
.loop-home-top-acess .item .content .excerpt {
  margin-top: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Gudea-Regular';
  color: #333;
}
.loop-home-agenda .span4 {
  background: url(../img/bg-content-colunistas.png);
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.loop-home-agenda .span4 .item {
  border-bottom: 1px dotted #333;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.loop-home-agenda .span4 .item:nth-child(3) {
  border: 0;
}
.loop-home-agenda .span4 .item .date {
  width: 10%;
  display: inline-block;
  vertical-align: middle;
  font-family: Gudea;
  font-size: 20px;
}
.loop-home-agenda .span4 .item .excerpt {
  width: 85%;
  display: inline-block;
  vertical-align: middle;
}
.loop-home-agenda .span4 .item .excerpt a {
  color: #333;
  font-family: 'Gudea-Regular';
}
.sidebar-home2 {
	padding-top: 45px;
}
.widget-default .title-widget {
	font-family: Gudea;
	font-weight: 200;
	color: #333;
	font-size: 26px;
	text-transform: lowercase;
}
.widget-default #wp-calendar {
  width: 100%;
}
.widget-default #wp-calendar caption {
  text-align: left;
}
.widget-default #wp-calendar thead {
  background: #000;
  color: #fff;
}
.widget-default #wp-calendar tbody td {
  border: 1px solid #ccc;
}
.widget-default .list-authors {
  background: url(../img/bg-content-colunistas.png);
  padding: 15px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.widget-default .list-authors li {
  list-style-position: inside;
  list-style-type: none;
  margin: 5px;
}
.widget-default .list-authors li a {
  color: #333;
}
.widget-default .list-authors li a span {
  font-family: Gudea;
}
.widget-default ul {
  background: url(../img/bg-content-colunistas.png);
  padding: 15px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.widget-default ul li {
  list-style-position: inside;
  list-style-type: none;
  margin: 5px;
}
.widget-default ul li a {
  color: #333;
}
.widget-default ul li a:before {
  content: '» ';
  font-family: Gudea;
}
.widget-default .st-tag-cloud {
  background: url(../img/bg-content-colunistas.png);
  padding: 15px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.widget-default .list-agenda {
  background: url(../img/bg-content-colunistas.png);
  padding: 15px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.widget-default .list-agenda .item {
  border-bottom: 1px dotted #333;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.widget-default .list-agenda .item:nth-child(4) {
  border: 0;
}
.widget-default .list-agenda .item .date {
  width: 10%;
  display: inline-block;
  vertical-align: middle;
  font-family: Gudea;
  font-size: 20px;
}
.widget-default .list-agenda .item .excerpt {
  width: 85%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4%;
}
.widget-default .list-agenda .item .excerpt a {
  color: #666;
  font-family: 'Gudea-Regular';
}
.widget-default .widget_tag_cloud .tagcloud {
  background: url(../img/bg-content-colunistas.png);
  padding: 15px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.paginacao ul.page-numbers {
  background: url(../img/bg-content-colunistas.png);
  height: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-size: 100%;
  text-align: center;
  margin: 20px 0;
}
.paginacao ul.page-numbers li {
  display: inline-block;
  list-style: none;
  border-left: 1px solid #000;
  color: #333;
  font-weight: bold;
  padding: 2px 5px;
}
.paginacao ul.page-numbers li a {
  color: #333;
}
.paginacao ul.page-numbers li:first-child {
  border-left: 0;
}
.page .title-inside {
  background: url(../img/bg-title-inside.png);
  background-size: 100%;
  height: 88px;
  position: relative;
  float: left;
  width: 100%;
  margin: 10px 0;
}
.page .title-inside .title-pages {
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0px 0 50px;
  display: block;
  position: relative;
  letter-spacing: 2px;
}
.page .content {
  width: 80%;
  margin: 0 auto;
}
footer > .container {
  background: url(../img/rodape.png) no-repeat;
  background-size: 100%;
  height: 430px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer > .container a {
  color: #fff;
}
.tarja-filiese {
  background: url(../img/bg-title-pages.png);
  background-size: 100%;
  text-align: right;
  margin: 30px 0;
  height: 22px;
}
.tarja-filiese a {
  margin-right: 90px;
}

@media screen and (max-width: 600px) {
	header #menu-top ul#menu-sociais, header div#menu-top div.container ul.right {
    float: none;
    width: 100%;
	text-align:center;
	margin: 5px auto;
}
header div#menu-top div.container ul.right li.0001 {
	display:block;
}
}

.template-noticias .loop-home-colunistas .content {
  width: 100% !important;
}
.sliderArrows {
  position: absolute;
  height: 250px;
  top: 0px;
  margin: 0px;
}
.paginacao ul.page-numbers li span {
  font-weight: 400;
}

