/* REALLY SIMPLE FACEBOOK TWITTER SHARE BUTTONS STYLE */
.really_simple_share_prepend_above {
	padding-top:2px; 
	padding-bottom:2px; 
	clear:both;
	height:33px;
}
.really_simple_share {
	padding-top:2px; 
	padding-bottom:2px; 
	clear:both;
}
.really_simple_share iframe {
	border: 0;
	min-height: 25px;
}

/* ALL DIVS ARE FLOATING LEFT WITH PADDING */
.really_simple_share div {
	float:left;
	padding-left:10px;
}
/* EXCEPT FOR THE FIRST ONE */
.really_simple_share div:first-child {
	padding-left:0;
}
/* AFTER THEM, CLEAR THE FLOATING */
.really_simple_share_clearfix {
  clear:both;
}

/* FACEBOOK BUTTONS SPECIFIC STYLES */
.really_simple_share_facebook_share a {
	background: url('images/facebook-share.png') no-repeat center left;
	padding-left: 20px;
}
.really_simple_share_facebook_share_new {
	margin-top: -4px !important;
}
.really_simple_share_facebook_like iframe {
	max-width:450px;
}
.really_simple_share_facebook_like_send {
	width:50px;
}
.really_simple_share_facebook {
	margin-top: -3px !important;
}
.fb-like { 
	z-index: 9999; 
}
.fbpdl, .pam, .execphpwidget, .fb-like span { 
	z-index: 9999 !important; 
	width:500px;
	overflow: visible;
}

/* OTHER BUTTONS SPECIFIC STYLES */
.really_simple_share_email {
	width:30px;
}
.really_simple_share_email img {
	border: 0;
	margin: 0;
	padding: 0;
}
.really_simple_share_box .really_simple_share_pinterest {
	margin-top: 20px;
}
