.internas-sem-margem{
    h1, h4{
        padding: 0 70px;
    }
}
@include desktop{
    .body-frenteFeminista{
        margin: 0 35px!important;
    }
}
@include tablet{
    .body-frenteFeminista{
        margin: 0 35px!important;
    }
}
@include mobile{
    .body-frenteFeminista{
        .wp-block-column:first-child{
            margin-bottom: 40px;
        }
    }
}