/* Footer */

.footer-widgets{ margin: 0 50px; }
.footer-filiese {
	width: 150% !important;
	margin-left:-90px !important;
    padding-right: 30px ;
}
.footer-branding{ 
    .wrapper{ 
        margin: 0 70px; 
    }
}
#nav_menu-3{ margin: 0; }
#nav_menu-5{
    margin: 0!important;
    margin-left: -150px!important;
    margin-top: 49px!important;
}

@include desktop{
    .footer-filiese {
        width: 100% !important;
        margin-left: 0!important;
        padding-right: 10px!important;
    }
}

@include mobile{
    .footer-branding{
        .wrapper{ 
            margin-left: 25px!important;
        }
    }
    .footer-widgets{
        .wrapper{ 
            margin: auto!important; 
        }
    }
    .footer-filiese {
        width: 100% !important;
        margin-left: 0!important;
        padding: 0!important;
    }
    .texto-rodape{
        text-align: center;
    }
    #nav_menu-3{
        margin: 0;
    }
    #nav_menu-5{
        margin: 0!important;
        margin-top: 49px!important;
    }
}

@media (max-width: 600px) {
    #nav_menu-5{
        margin: 0!important;
        margin-top: -30px!important;
    }
}