/* Home */

.banner{
	margin-top: -10px !important;
	padding-bottom:0px;
    padding-right: 30px;
    padding-left: 30px;
}

.internas-sem-margem{ margin-top: -80px !important; }
.sem-margem{ margin-top: -10px !important; }
.com-margem{ margin:0px 50px 0px 50px}

.entry-header{ margin: 32px 35px; }

// bandeiras
.bandeiras{ margin: 0 35px!important; }
.p-bandeiras{
    font-family: 'Open Sans', sans-serif !important;
    font-size:14px !important;
}
.accordion-icons{ border-radius:37px; background: #33002f none repeat scroll 0 0 !important; }
.accordions-head-title{
    color: #33002f!important;
	-webkit-font-smoothing: antialiased;
    font-family: "Montserrat","-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Oxygen","Ubuntu",
                 "Cantarell","Fira Sans","Droid Sans","Helvetica Neue","sans-serif"!important;
}

// social
.titulo-social{ margin-top: 55px!important; padding: 0 30px; }
.bg-titulo-social{
    background:#33002f;
	padding: 55px 0;
	margin:-55px 0!important;
}
#twitter-widget-0, #instagram-embed-0{
    min-width: 158px!important;
	max-height:600px !important;
	margin-bottom:5px !important;
}
#twitter-widget-0 { height: 100px!important; }
.colum-linha-inteira{ margin:10px; }
.fm-scale{ display: none !important; }
.título-sessao h1{ margin-top: 75px !important; }
.botao-youtube { margin-top: -55px !important; }
.botao-podcast { margin-top: 18px !important; }

/*@media (max-width: 768x) {
    .coluna-botao h1 {
        padding-top: 55px;
        text-align: center!important;
    }
}*/

.wp-embed-aspect-16-9 .wp-has-aspect-ratio {
	margin-left: 25px!important;
}
.epyt-pagination{ padding: 66px 8px 10px!important; }
.wp-block-embed{ margin-bottom: 0; }

.footer-filiese{
	width: 150% !important;
	margin-left:-100px !important;
}
.wp-block-latest-posts__featured-image img {
    height: 200px;
    width: auto;
}

.wp-block-columns, .wp-block-cover__inner-container{
    .conhecerUJS{
        padding: 0 55px!important;
    }
}

.img-sobre{
    img{ width: 45%; float: left; margin-right: 30px; }
}

@media (max-width: 768px) {
    .img-sobre{
        img{ width: 100%!important; float: left!important; }
    }
    
    .wp-block-columns, .wp-block-cover__inner-container{
        padding: 0;
        .conhecerUJS{
            h2{ text-align: center; }
            padding: 0 15px!important;   
        }
    }
    .has-parallax{
        margin-top: -10px!important;
    }
    .site-content {
        margin-top: 0rem !important;
    }
    .entry .entry-content>*, .newspack-inline-popup>* {
        margin: 32px 35px;
    }
    .titulo-spotify{ margin: 0 35px -33px!important; }
    .entry .entry-content>*.aligncenter, 
    .newspack-inline-popup>*.aligncenter,
    .banner-cidades .wp-block-cover__inner-container,
    .footer-branding, .footer-widgets,
    .wp-block-cover__inner-container
        {
        margin-left: 35px;
        margin-right: 35px;
    }
    .instagram-media { min-width: 200px!important; }
    .footer-filiese { 
        width: 100% !important;
        margin-left: 0px !important;
    }
    .accordions-head-title{ font-size: 18px!important; }
    .com-margem { margin: 0; }
    .titulo-social { margin-top: 0px!important; }


    .spotify{ margin-bottom: 60px!important; }
}

@media (max-width: 340px) {
    .wp-block-group.has-background{ padding: 1px; }
	@media (max-width: 768px){
        .instagram-media { min-width: 160px!important; }
    }
}

.n2-ss-align.n2-ss-align-visible {
    margin-top: -112px;
}

.n2-ss-slider-2 n2-ow .n2-ss-3-arrow-previous{
	margin-right: 35px!important;
}


iframe[title~=Spotify]{
    min-height: 155px!important;
}

/* Identidade Visual */

.h-sb{
    .h-sh{
        .site-header, .site-title,
        .site-title a:link, .site-title a:visited,
        .site-description, .main-menu > li
        .site-header .nav1 ul.main-menu > li > a,
        .site-header .nav1 ul.main-menu > li > a:hover,
        .top-header-contain, .middle-header-contain
        {
            color: #FFFFFF;
        }
    }
}