.petition.entry .petition--header:not(.empty-content) .entry-content > * {
    margin: 0px !important;
}

.single-petition .petition--content .content-wrapper .sidebar .petition-block .signatures-information .signatures-count .quantity span:last-child {
    color: var(--primary);
}

.single-petition {
    padding-top: 40px;

    .site-content {
        @media only screen and (min-width: 782px){
            margin-top: 0px;

        }
    }

    @include tablet {
        padding-top: 15px;

        .petition {
            &--content {
                .content-wrapper {
                    grid-template-columns: 1fr;
                    grid-template-rows: auto auto;
                    grid-template-areas:
                        "a"
                        "b";
                    
                    .sidebar {
                        grid-area: b;
                    }

                    .post-content {
                        grid-area: a;
                    }
                }
            }
        }
    }

    .petition {
      
        &--header {

            &.has-content{
                .featured-image {
                    img {
                        width: 100%;
                        max-height: 500px;
                        object-fit: cover;
                    }
                }
            }

            &.empty-content {   
                &.has-thumbnail {

                    @include mobile {
                        .content-wrapper .sidebar {
                            width: 100%;
                        }
                    }

                    .language-selector {
                        margin-top: 0;
                    }
                }
                

                &.no-thumb {

                    @include mobile {
                        .content-wrapper .sidebar {
                            width: 100%;
                        }
                    }

                    .language-selector {
                        margin-top: 50px;
                    }
                }
            }
        }

        &--content {
            .sidebar {
                .petition-plugin-sidebar {
                    & > * {
                        min-width: 100%;
                    }
                }
            }
        }
    }
}